.comment {
  margin: 10px;
  outline: 1px solid black;
  /* display: flex; */
}
.header {
  display: flex;
  justify-content: space-around;
}
.reply {
  padding-left: 50px;
  outline: 1px solid black;
  margin: 10px;
}
.left-toolbar {

}